
html,body {
    background-color: #f8f8f8;
	height:100%;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.panel-heading {
    border-color: #000000;
    color: #fff;
    background-color: #000000;
}	

.chat-panel .panel-body {
	overflow-y: scroll; 
	background-color: #ffffff;
	height:calc(100vh - 170px);
}

.voffset1 { margin-top: 50px; }
.loffset1 { margin-left: 30px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top60 { margin-top:60px; }
.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-half {
  margin: 0 auto;
  width: 50%;
}

.button-limit {
  margin: 1 auto;
  max-width: 220px;
  min-width: 220px;
}

.center {
    text-align: center;
}

.borderless-login-button { 
    border-bottom: none; 
    border-top: none;
}