<div>
	<div class="container-fluid special">
		<nav class="navbar navbar-static-top navbar-dark navbar-inverse" style="background-color: #222222;">
		  <a class="navbar-brand" href>#Answerme</a>
		  <ul class="nav navbar-nav">
				<li><a href ng-click="updateModalShow();" > {{accountHolder.name}} <span class="badge">42</span></a></li>
				<li><a href data-target="#works-modal" data-toggle="modal" >How it's works</a></li>
				<li><a href="#">Trendings #Topics</a></li>
				<li><a ng-href="#/login" >Logout</a></li>
			</ul>
		</nav>
		
		<div class="container-fluid">
		  <div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
					<div class="row" style="margin-top:50px; margin-bottom:50px;">
						<div class="col-sm-3">	
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">#</span>
							  <input id="topic" type="text" class="form-control" placeholder="Topic" aria-describedby="basic-addon1" ng-keypress="jumpTopic($event);">
							</div>
						</div>
						<div class="col-sm-7">
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">Question</span>
							  <input id="question" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="input-group" style="padding-right: 5px; padding-left: 5px;">
								<button type="button" class="btn btn-success btn-md" ng-click="ask();">Ask</button>
							</div>
						</div>
					</div>
			  </div>
			</div>
			<div id="messageContainer" class="panel panel-default hidden">
				<div id="messageContainer-body" class="panel-body">

				</div>
			</div>
		  </div>
		</div>
	
		<!-- modal answer -->
		<div id="answer-modal" class="modal fade" tabindex="-1" role="dialog"> 
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<span class="label label-info">#{{answer.topic}}</span>
					</div>
					<div class="modal-body">
						{{answer.question}}
						<hr>
						<h4><p>{{answer.answer}}</p></h4>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
						<button type="button" class="btn btn-danger" data-toggle="popover"
							ng-click="directRejectAnswer();"
							data-placement="bottom" title="Are you sure?" 
							data-content="If you click this button again the person who answered your question will not receive his points for answer you.">Not OK</button>
					</div>
				</div>	
			</div>
		</div>
		<!-- modal -->
		<!-- modal update -->
		<div id="update-modal" class="modal fade" tabindex="-1" role="dialog"> 
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2>{{accountHolder.name}}</h2>
					</div>
					<div class="modal-body">
						<h4>Write or remove some topics that you want to answer</h4>
						<div class="input-group">
						  <span class="input-group-addon" id="basic-addon1">#</span>
						  <input id="topics" type="text" class="form-control" placeholder="Cook AmericanHistory Code Dogs Cars ComputerFix" aria-describedby="basic-addon1" ng-keyup="workTopics();">
						</div>
						<div class="panel-body">
							<ul id="readyTopics" class="list-inline" >
								<li ng-repeat="topic in topics"><span class="label label-{{topic.color}}">#{{topic.text}}</span></li>
							</ul>
							<p><a class="btn btn-primary btn-md pull-right" ng-click="apply();" role="button">Apply</a></p>
						</div>
						<hr>
						<h4>Questions</h4>
						<ul>
							<li>
								<span>teste</span>
								<span>teste2</span>
							</li>
							<li>
								<span>teste</span>
								<span>teste2</span>
							</li>
							<li>
								<span>teste</span>
								<span>teste2</span>
							</li>
							<li>
								<span>teste</span>
								<span>teste2</span>
							</li>

						</ul>
						<nav>
						  <ul class="pager">
						    <li><a href="#">Previous</a></li>
						    <li><a href="#">Next</a></li>
						  </ul>
						</nav>

					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>	
			</div>
		</div>
		<!-- modal -->
		<!-- modal How its works-->
		<div id="works-modal" class="modal fade" tabindex="-1" role="dialog"> 
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2>How it's works</h2>
					</div>
					<div class="modal-body">
						Lorem ipsum TODO
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>	
			</div>
		</div>
		<!-- modal -->
	</div>
</div>
