<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
		<h1 class="text-center">#Answerme</h1>
		<p class="text-center"> Choose your login (It's anonymous)</p>
	</div>
	<div class="modal-body">
		<row >
			<div class="col-md-12 center">
				<button class="btn btn-facebook button-limit" ng-click="fb_login()"><i class="fa fa-facebook "></i> | Connect with Facebook</button>
			</div>
			<div class="col-md-12"></div>
			<div class="col-md-12 center">
				<button class="btn btn-google-plus button-limit" id="googleb"><i class="fa fa-google-plus"></i> | Connect with Google Plus</button>
			</div>
			<!-- <li class="list-group-item center borderless"><button class="btn btn-twitter  container-half"><i class="fa fa-twitter"></i> | Connect with Twitter</button></li> -->
		</row>
		<a href="home" id="home"></a>
	</div>
	<div class="modal-footer top60">
		<a ng-click="justGo();">test</a>
	</div>
  </div>
  </div>
</div>